:root {
    --bg-color: #ecece9;
    --text-color: #0a0708;
    --nav-color: ;
    --brd-radius: 30px;
    --gv: #FFA07A;
    --lv: #ADD8E6;
    --zv: #90EE90;
}

/* Gevonden in canva.com code */

@font-face {
        font-family: 'Canva Sans';
        src: url('https://static-cse.canva.com/_next/static/media/canva-sans-latin.cb8040b8.woff2')
        format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

* {
    margin:0;
    padding: 0;
    font-family: "Canva Sans";
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

main {
    margin-inline: 5%;
}

nav {
    justify-content: center;
    padding: 20px 0;
    max-width: max(100%, 50rem);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bolder;
    border-radius: var(--brd-radius);
    background-color: var(--nav-color);
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1rem;
}


nav ul > li:not(.logo) {
    background-color: #3bb371;
    border-radius: var(--brd-radius);
    text-align: center;
    padding: 1rem 2rem;
    white-space: nowrap;
}

nav ul  > li {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1rem;
}



nav ul > li:not(.logo):hover, ul a:hover {
     background-color: #ffff;
     border: 3px solid #3bb371 ;
     color: var(--text-color);
}

.logo img {
    height: 100px;
    width: auto;
}

.current {
    background-color: #ffff;
    box-shadow:2px 2px 5px #bbb;
}

footer {
    background-color: #3bb371;
    padding: 1rem;
}

.recipe-article article
{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    border-left-width: 10px;
}

article.gv { border-left-color: var(--gv); }
article.lv { border-left-color: var(--lv); }
article.zv { border-left-color: var(--zv); }

article.gv.lv {
    border-left: 6px solid;
    border-image: linear-gradient(to bottom,
    var(--gv) 50%,
    var(--lv) 50%) 1;
}

article.gv.zv {
    border-left: 6px solid;
    border-image: linear-gradient(to bottom,
    var(--gv) 50%,
    var(--zv) 50%) 1;
}

article.lv.zv {
    border-left: 6px solid;
    border-image: linear-gradient(to bottom,
    var(--lv) 50%,
    var(--zv) 50%) 1;
}

article.gv.lv.zv {
    border-left: 6px solid;
    border-image: linear-gradient(to bottom,
    var(--gv) 33.33%,
    var(--lv) 33.33%,
    var(--zv) 33.34%) 1;
}

.input-box {
    padding: 1rem;
    width: max(1fr, 100%);
    border: 1px solid var(--text-color);
    border-radius: var(--brd-radius);
    margin: 1rem;
}

@media (max-width: 500px) {
    nav ul { display: grid; grid-auto-flow: row;    }
}